<div class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5">
  <div class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden" style="max-width: 350px;">
      <h1 class="text-center text-white py-10 text-3xl font-bold">Calculator</h1>
      <!-- Calculator screen -->
      <div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right">
          <!-- Function screen -->
          <div class="w-full py-5 px-6 text-2xl text-white font-thin">Function</div>
          <!-- Number screen -->
          <div class="w-full py-5 px-6 text-6xl text-white font-thin">100</div>
      </div>
      <!-- End calculator screen -->
      
      <!-- Calculator button area -->
      <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
          
          <!-- First Button row (C, %, ÷) -->
          <div class="flex w-full">
              <div class="w-1/4">
                  <button class="w-full h-16 outline-none hover:bg-red-500 hover:bg-opacity-20 text-white text-xl font-light">C</button>
              </div>
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-50 text-white text-xl font-light">%</button>
              </div>
              <div class="w-1/4 border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none bg-red-700 bg-opacity-10 text-white text-2xl font-light">÷</button>
              </div>
          </div>
          
          <!-- Second Button row (7, 8, 9, ×) -->
          <div class="flex w-full">
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">7</button>
              </div>
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">8</button>
              </div>
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">9</button>
              </div>
              <div class="w-1/4 border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-2xl font-light">×</button>
              </div>
          </div>

          <!-- Third Button row (4, 5, 6, -) -->
          <div class="flex w-full">
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">4</button>
              </div>
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">5</button>
              </div>
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">6</button>
              </div>
              <div class="w-1/4 border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-2xl font-light">−</button>
              </div>
          </div>

          <!-- Fourth Button row (1, 2, 3, +) -->
          <div class="flex w-full">
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">1</button>
              </div>
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">2</button>
              </div>
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">3</button>
              </div>
              <div class="w-1/4 border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-2xl font-light">+</button>
              </div>
          </div>

          <!-- Fifth Button row (0, ., =) -->
          <div class="flex w-full">
              <div class="w-1/2 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">0</button>
              </div>
              <div class="w-1/4 border-r border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-xl font-light">.</button>
              </div>
              <div class="w-1/4 border-b border-red-400">
                  <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 hover:bg-red-700 text-white text-2xl font-light">=</button>
              </div>
          </div>

      </div>
  </div>
</div>
